<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">

<dom-module id="el-form">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[configData.title]]</h2>

    <span>prueba</span>
      <paper-input label=[[configData.label1]] no-label-float value="{{inputValue1}}"></paper-input>
      <paper-input label=[[configData.label2]] no-label-float value="{{inputValue2}}"></paper-input>
      <paper-input label=[[configData.label3]] no-label-float value="{{inputValue3}}"></paper-input>
   

    <paper-button on-click="form-event" raised>[[configData.buttonName]]</paper-button>

  </template>

  <script>
    /**
     * `el-form`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElForm extends Polymer.Element {
      static get is() { return 'el-form'; }
      static get properties() {
        return {
          configData: {
            type: Object,
            value: ()=>{
              return {
                title: 'Agregar alumnos',
                buttonName: 'Agregar',
                label1: 'Nombre',
                label2: 'Email',
                label3: 'Telefono',
              }
            }
          },
          inputValue1: {
            type: String
          },
          inputValue2: {
            type: String
          },
          inputValue3: {
            type: String
          }
        };
      }
    }

    window.customElements.define(ElForm.is, ElForm);
  </script>
</dom-module>
